.skill-card {
	i {
		font-size: 5rem;
	}

	h3 {
		margin: 1.2rem 0;
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
	}

	ul {
		padding-left: 0;
		list-style: none;
		color: #6f7d82;

		li {
			text-align: center;
			margin-bottom: .6rem;
		}
	}
}
