.nav-menu {
	.nav-link:focus {
		color: rgba(255, 255, 255, 0.5)!important;
	}

	font-weight: 400;
	color: $white-base;
	&.bg {
		background-color: $light-blue;
		//border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0 1px 3px rgba(34,25,25,0.4);
		-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
		-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	}

	@include media-breakpoint-down(sm) {
		&.bg {
			background-color: $white-base;
			.nav-link {
				color: $gray-light;

				&:hover, &.active{
					color: $gray-dark;
				}
			}
		}
	}

	.navbar-toggler {
    	border-color: rgba(255, 255, 255, 0.1);
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	&.bg {
		.navbar-light .navbar-toggler-icon {
			color: rgba(0, 0, 0, 0.9);
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}

		.navbar-toggler {
			border-color: rgba(0, 0, 0, 0.3);
		}
	}



}
