// generic css rules for whole project
body {
	font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

html, body, #app {
	height: 100%;
}

a {
	color: inherit;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
