// Bootstrap overrides

// == Colors
$body-color: #2A3A3F;

$gray-dark: #263238;
$gray: #607d8b;
$gray-light: #b0bec5;
$gray-lighter: #E3E8EC;
$gray-lightest: #fff;
$brand-primary: #20a8d8;
$brand-success: #4dbd74;
$brand-info: #63c2de;
$brand-warning: #f8cb00;
$brand-danger: #f86c6b;


//
// == Colors
// -----------------------
$white-base: #fff;
$light-grey: #E3E8EC;
$dark-light-grey: #BCC5D0;
$light-blue: #2098D1;
