#app-header {
	display: table;
	overflow: hidden;
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;

	color: $white-base;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);

	background-color: $light-blue;
	//background-color: #0f87c0; // Old browsers
	@include filter-gradient($light-blue - #111, $light-blue, vertical); // IE6-9
	@include background-image(linear-gradient(top, $light-blue - #111 0%,$light-blue 31%,$light-blue 100%));

	vertical-align: middle;

	//perspective: 2px;

	.particles {
		position: absolute; // TODO parallax effect
		width: inherit;
		height: inherit;

		&>div {
			width: inherit;
			height: inherit;
		}
	}

	.centered-container {
		display: table-cell;
		vertical-align: middle;

		.inner {
			width: 15rem;
			margin: auto;
			h1 {
				position: relative;
				width: 100%;
				font-size: 2.2rem;
				text-align: center;

				hr {
					opacity: .7;
					border-color: $white-base;
					border-width: 2px; // 1px
					box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
				}

				span.spe {
					&::after {
						content: "_";
						display: none;
						position: relative;
						top: -0.5rem;
						left: 0.3rem;

						animation: blinker 1.5s ease-in-out infinite;
					}
				}
			}
			@include media-breakpoint-up(sm) {
				width: 32rem;

				h1 {
					font-size: 2.4rem;

					span.spe {
						&::after {
							display: inline;
						}
					}
				}
			}
		}
	}
	.next {
		position: absolute;
		bottom: 2.5%;
		padding: 20px;

		// horizontal align
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);

		text-align: center;
		opacity: .9;

		i {
			animation: bounce 2s infinite; // TODO bounce animation
		}
	}
}

// animations keyframe

@keyframes blinker {
  50% { opacity: 0; }
}
